<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      data-th-replace="~{layouts/layout :: layout-encheres(
                          titrePage=~{::title}, 
                          contenuPage=~{::main}, 
                          ressourcesSupp=~{::#ressources-css})}">
<head>
    <title th:text="${utilisateur.pseudo}">Test</title>
</head>

<body>
    <main>
        <div th:if="${error}" class="bg-red-200 text-red-800 p-2 rounded">
            <p th:text="${error}"></p>
        </div>
        <div class="w-4/5 h-4/5 bg-blue-200 flex flex-col justify-center rounded-lg mx-auto my-4 p-8">
            <form th:action="@{/users/profil/modifier}" method="post">
                <div class="flex gap-8">
                   
                        <div class="flex gap-2 mb-2">
                            <label for="old_password">Mot de passe actuel (*)</label>
                            <input id="old_password" type="text" name="old_password" />
                        </div>

                    <div>
                        <div class="flex gap-2 mb-2">
                            <label for="new_password">Nouveau mot de passe (*)</label>
                            <input id="new_password" type="text" name="new_password" />
                        </div>

                        <div class="flex gap-2 mb-2">
                            <label for="new_password_confirmation">Confirmation (*)</label>
                            <input id="new_password_confirmation" type="text" name="new_password_confirmation" />
                        </div>
                    </div>
                </div>

					<div class="flex gap-4">
	                    <button type="submit" class="px-4 py-2 rounded-lg border-2 border-blue-800 border-solid hover:bg-blue-800 hover:text-white">
	                        Modifier
	                    </button>
	                    
	                    <a href="/users/profil" class="px-4 py-2 rounded-lg border-2 border-blue-800 border-solid hover:bg-blue-800 hover:text-white">Annuler</a>
                    </div>
              </form>
        </div>
    </main>
</body>
</html>
